/* ///// Actividades //////*/
#actividades {
    display: flex;
    justify-content: center;
    .table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 81%;
        border: 1px solid #ddd;
        font-size: 1.5rem;
        display: block;
        align-items: center;
        overflow-x: auto;
        margin: 0 auto;
    }
}
  
.actividades th, td {
    text-align: left;
    padding: 8px;
}
  
.actividades tr:nth-child(even){background-color: #f2f2f2}