.main-table {
  height: 580px;
  border: solid 1px #1b1b32;
  box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
  -webkit-box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
  -moz-box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
}

@media screen and (max-width: 600px) {
  .main-table {
    height: 100%;
  }
}
