/* ///// Contacto //////*/

.contacto .contacto {
    // max-width: 1100px;
    // min-width: 200px;
    padding: 20px;
    @include sizesWidth(1100px, 200px);
  }
  
  .contacto .rectangulo {
    margin-top: -2rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    border: solid 1px #1b1b32;
    box-shadow: 0px 1px 4px 1px white;
    -webkit-box-shadow: 0px 1px 4px 1px white;
    -moz-box-shadow: 0px 1px 4px 1px white;
  }

  .contacto .btn-contacto {
    margin-top: -2rem;
    border-radius: 10px;
    border: solid 1px #1b1b32;
    box-shadow: 0px 1px 4px 1px white;
    -webkit-box-shadow: 0px 1px 4px 1px white;
    -moz-box-shadow: 0px 1px 4px 1px white;
  }
  
  .contacto .row {
    width: 100%;
    @include flex-center 
  }
  
  .contacto .seccion-descripcion {
    color: white;
    font-size: 1.2rem;
  }
  
  .contacto .button {
    color: white;
    font-family: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }
  
  .contacto button:hover i {
    background-color: white;
    color: black;
  }
  
  .contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  .contacto button:hover i {
    color: black;
  }