@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin sizes($width , $height) {
    width: $width;
    height: $height;
}

@mixin sizesWidth($maxWidth , $MinWidth) {
    max-width: $maxWidth;
    min-width: $MinWidth;
}