:root {
  --dark-color: #1a1a1a;
  --white-color: #ffffff;
  --light-grey-color: #f5f5f5;
  --gold-color: #ffb944;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.logo-brand {
  height: 100px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.container {
  margin: 0, auto;
  max-width: 1320px;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}

div {
  padding: 5px;
  font-size: 3.5rem;
  overflow: hidden;
}

ul {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block*/
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  justify-content: space-between;
}

li {
  display: inline-block;
  width: 20%;
  position: relative;
  font-size: 2rem;
}

ul li:hover ul {
  position: absolute;
  display: block;
  background-color: rgb(7, 7, 104);
}

.main-table {
  height: 580px;
  border: solid 1px #1b1b32;
  box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
  -webkit-box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
  -moz-box-shadow: 35px 22px 42px 5px rgba(27, 27, 50, 0.67);
}

@media screen and (max-width: 600px) {
  .main-table {
    height: 100%;
  }
}
/*//// BACKGROUND  //// */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  visibility: inherit;
  opacity: 1;
  background-image: url("../img/pexels-cottonbro-4761616.jpg");
  padding: 50px 30px;
  margin-bottom: 50px;
}

.parallax h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 20px; /*aplicando padding-top*/
  margin-top: 50px; /*aplicando margin-top*/
}

.parallax p {
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  opacity: 1;
  padding: 10px; /*esta forma le aplica valor al top, bottom, right and left*/
}

/* ///// Galeria Carousel //////*/
.carousel-item {
  max-height: 100rem;
}

.carousel-item img {
  max-width: 100%;
  max-height: 50%;
}

/* ///// Contacto //////*/
.contacto .contacto {
  padding: 20px;
  max-width: 1100px;
  min-width: 200px;
}

.contacto .rectangulo {
  margin-top: -2rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  border: solid 1px #1b1b32;
  box-shadow: 0px 1px 4px 1px white;
  -webkit-box-shadow: 0px 1px 4px 1px white;
  -moz-box-shadow: 0px 1px 4px 1px white;
}

.contacto .btn-contacto {
  margin-top: -2rem;
  border-radius: 10px;
  border: solid 1px #1b1b32;
  box-shadow: 0px 1px 4px 1px white;
  -webkit-box-shadow: 0px 1px 4px 1px white;
  -moz-box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .seccion-descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto .button {
  color: white;
  font-family: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

.small-footer {
  font-size: 2rem;
}

footer {
  padding: 30px 0;
  text-align: center;
  color: var(--white-color);
}

footer a {
  color: var(--white-color);
}

.footer-logo {
  margin: 10px;
  width: 80px;
  height: 80px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serisf;
}

.iconos-redes-sociales a {
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derecho-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 20px;
}

.fit-cover {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 20cm;
  -o-object-position: center;
     object-position: center;
}

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  position: fixed;
  min-width: 50px;
  left: 25%;
  right: 0px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}

/* ///// Nosotros //////*/
.quienes-somos {
  padding: 10px;
}

.quienes-somos .container {
  max-width: 600px;
  text-align: center;
}

.text-large {
  font-size: 18px;
  line-height: 26px;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
}

/* ///// Media queries //////*/
@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
    line-height: normal;
  }
  h2 {
    font-size: 32px;
  }
  .plans {
    min-width: unset;
    padding: 40px;
  }
  .carousel-item p {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: 30px;
  }
  .plans {
    min-width: unset;
    padding: 40px 20px;
  }
}/*# sourceMappingURL=style.css.map */